<section class="users-new">

  <header class="page-header">
    <h1>Register as a new user - Welcome!</h1>
  </header>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_for @user do |form| %>

        <% if form.object.errors.any? %>
          <div class="alert alert-danger">
            <strong>The following errors prevented saving:</strong>
            <ul>
              <% form.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

          <div class="form-group">
            <%= form.label :register %>
            <%= form.text_field :email, placeholder: "enter valid email here", class: 'form-control' %>
            <%= form.text_field :password, placeholder: "enter password here", class: 'form-control' %>
          </div>

        <%= form.submit 'Create user', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</section>
