<section class="reviews-index">

  <dt>New Review</dt>
  <% if current_user %>
    <dd>
      <%= form_for [@product, @review] do |form| %>
        <div><%= form.select :rating, [1,2,3,4,5] %></div>
        <div><%= form.text_area :description %></div>
        <div><%= form.submit %></div>
      <% end %>
    </dd>
  <% else %>
    <dd>You must be logged in to review.</dd>
  <% end %>

  <dt>Reviews</dt>

  <dd>

    <% if @product.reviews.length > 1 %>
    <p> Average Rating: <%= @product.get_avg_rating %> </p>
      <div class="panel panel-default reviews">
        <table class="table table-bordered">

          <thead>
            <tr>
              <th>Review Date</th>
              <th>Rating</th>
              <th>Comments</th>
            </tr>
          </thead>

          <tbody>
            <% @product.reviews.order(:created_at).reverse_order.each do |review| %>
              <tr>
                <td><%= review.created_at.to_date %></td>
                <td><%= review.rating %></td>
                <td><%= review.description %></td>
              </tr>
            <% end %>
          </tbody>

        </table>


      <% else %>
        No rating yet - be the first to review!
      <% end %>
    </div>
  </dd>



</section>
